rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isAdmin() { return signedIn() && firestore.get(/databases/(default)/documents/usuarios/$(request.auth.uid)).data.isAdmin == true; }

    match /repartidores/{uid}/{allPaths=**} {
      allow read: if (signedIn() && request.auth.uid == uid) || isAdmin();
      allow write: if signedIn() && request.auth.uid == uid;
    }
    match /comprobantes/{uid}/{allPaths=**} {
      allow read: if (signedIn() && request.auth.uid == uid) || isAdmin();
      allow write: if signedIn() && request.auth.uid == uid;
    }
  }
}
